<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if f.object.id.blank?%>
<div class="field">
  <%= f.label :id %><br />
  <%= f.text_field :id %>
</div>

<% end %>

  <div class="field">
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :alert_addresses %><br />
    <%= f.text_area :alert_addresses %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
